<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" th:href="@{/vendors/style/owl.carousel.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/vendors/style/font-awesome.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/vendors/style/owl.theme.default.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/reSources/style/style.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/reSources/style/reset.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/reSources/style/bootstrap.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/reSources/style/blog.css}">

  <title>The Southern sunshine </title>
</head>

<body>
<div th:replace="_header::_header_"></div>
<div th:replace="_feature::_feature_"></div>
<div th:replace="_navigation::_navigation_"></div>

<div class="humberger__menu__wrapper">


  <div id="mobile-menu-wrap"></div>
  <div class="humberger__menu__about">
    <div class="humberger__menu__title sidebar__item__title">
      <h6>About me</h6>
    </div>
    <img src="img/humberger/humberger-about.jpg" alt="">
    <h6>Hi every one! I,m Lena Mollein.</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <div class="humberger__menu__about__social sidebar__item__follow__links">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-youtube-play"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
      <a href="#"><i class="fa fa-envelope-o"></i></a>
    </div>
  </div>
  <div class="humberger__menu__subscribe">
    <div class="humberger__menu__title sidebar__item__title">
      <h6>Subscribe</h6>
    </div>
    <p>Subscribe to our newsletter and get our newest updates right on your inbox.</p>
    <form action="#">
      <input type="text" class="email-input" placeholder="Your email">
      <label for="agree-check">
        I agree to the terms & conditions
        <input type="checkbox" id="agree-check">
        <span class="checkmark"></span>
      </label>
      <button type="submit" class="site-btn">Subscribe</button>
    </form>
  </div>
</div>
<!-- Humberger End -->

<!-- Header Section Begin -->

<!-- Header Section End -->

<!-- About Section Begin -->
<section class="about spad">
  <div class="container">
    <div class="about__text">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb__text">
            <h2>About me</h2>
            <div class="breadcrumb__option">
              <a href="#">Home</a>
              <span>About</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="about__pic__item__large">
            <img src="images/blog1.jpg" alt="">
          </div>
          <div class="about__pic">
            <div class="about__pic__item">
              <img src="images/blog-2.jpg" alt="">
            </div>
            <div class="about__pic__item">
              <img src="images/blog-3.jfif" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="about__right__text">
            <h2>Hello every one !!!</h2>
            <p>Khi nghe đến từ blogger, tôi nghĩ ngay đến blog thời trang. Các blog thời trang xuất hiện lần đầu tiên vào năm 2002, và chỉ trong 4 năm ngắn ngủi, số lượng trong số đó đã tăng lên 100. Chẳng bao lâu, thế giới blog tràn ngập nội dung liên quan đến thời trang thu hút rất nhiều sự chú ý.
              Nhiều người hiện đang nổi bật trong ngành công nghiệp thời trang bắt đầu với tư cách là các blogger thời trang. Ngày nay, họ có doanh nghiệp, thương hiệu hoặc làm việc cho một số tạp chí và công ty lớn nhất thế giới. Một số tín đồ thời trang vẫn dành riêng cho blog của họ và kiếm tiền nhờ hợp tác với thương hiệu, quảng cáo, liên kết liên kết và bán sản phẩm.
              Vì vậy, nếu bạn đang tìm kiếm những ý tưởng blog thời trang tốt nhất, hãy cuộn xuống. Tôi đã thu thập một danh sách những cái nổi bật kết hợp thời trang với thiết kế trang web tuyệt vời và nội dung hấp dẫn.</p>
            <ul>
              <li>Thanh lịch cùng sơ mi thêu hoa và quần ống đứng</li>
              <li>Ngọt ngào cùng áo croptop cánh dơi chun gấu và chân váy dúm bèo Plum</li>
              <li>Năng động cùng áo cổ tim chiết ly eo, quần ống đứng White</li>
            </ul>
            <p>Với mong muốn mỗi bộ trang phục đều mang đến tính ứng dựng cao nhất trong mọi hoàn cảnh chiếc sơ mi cổ Đức này cũng không phải là ngoại lệ. Nàng chẳng cần phải mất quá nhiều thời gian để tìm kiếm phụ kiện để mix cùng chỉ cần một chiếc túi cầm tay, một đôi giày cao gót nàng đã sở hữu ngay cho mình một outfit sang xịn rồi.
            </p>
            <div class="about__right__text__social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-youtube-play"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="policy">
  <div class="container">
    <div class="policy__content">
      <div class="policy__content-item">
        <i class="fas fa-sync-alt"></i> HOÀN TRẢ TRONG 30 NGÀY
      </div>
      <div class="policy__content-item">
        <i class="fas fa-truck"></i> GIAO HÀNG TẬN NHÀ
      </div>
      <div class="policy__content-item">
        <i class="fas fa-money-bill-wave"></i> THANH TOÁN LINH HOẠT
      </div>
      <div class="policy__content-item">
        <i class="fas fa-users"></i> HỖ TRỢ NHANH CHÓNG
      </div>
    </div>
  </div>
</div>

<!-- End Policy -->
<hr>
<div th:replace="_footer::_footer_"></div>


</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/reSources/js/script.js"></script>
<script src="/vendors/js/owl.carousel.min.js"></script>

</html>